# ── Database ───────────────────────────────────────────────────
DB_USER=
DB_PASS=
DB_NAME=
MYSQL_ROOT_PASSWORD=

# ── Chatbot ────────────────────────────────────────────────────
CHATBOT_SECRET_KEY=

GROQ_API_KEY=
GOOGLE_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
